<html>
    <head>
	<title>ClickME demo</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css" />
    </head>
    <body class="text-center">
	<h1>ClickME Demo</h1>
	<h2>Count: <%= @count %></h2>

	<form method="post">
	    <input type="submit" class="button large" value="Click me" />
	</form>
    </body>
</html>
